<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
</head>
<body>

<h1>Login</h1>

<form id="loginForm">
    <div>
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required />
    </div>
    <div>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required />
    </div>
    <div>
        <button type="submit">Login</button>
    </div>
</form>

<div>
    <a href="/oauth2/authorization/github">Login with GitHub</a>
</div>
<div>
    <a href="/register">Register</a>
</div>

<script>
    document.getElementById("loginForm").onsubmit = function(event) {
        event.preventDefault();

        const username = document.getElementById("username").value;
        const password = document.getElementById("password").value;

        fetch('/auth/authenticate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ username, password })
        })
            .then(response => response.json())
            .then(data => {
                if (data.AccessToken) {
                    localStorage.setItem('authToken', data.AccessToken);
                    localStorage.setItem('refreshToken', data.refreshToken);

                    fetch('/success', {
                        method: 'GET',
                        headers: {
                            'Authorization': `Bearer ${localStorage.getItem('authToken')}`
                        },
                        credentials: 'include'
                    })
                        .then(response => {
                            if (response.ok) {
                            window.location.href = '/success';
                            } else {

                            }
                        })
                        .catch(error => {
                            alert('Error: ' + error);
                        });
                } else {
                    alert("invalid credentials");
                }
            })
            .catch(error => {
                alert('Error: ' + error);
            });
    };
</script>

</body>
</html>

